In [ ]:
#Assingment2 30jan 2023

Q1.Write a program to accept percentage from the user and display the grade according to the following?

Marks           Grade
>90                A
>80 and <=90       B
>=60 and <=80      C
below 60           D

In [ ]:
marks=int(input("enter your percentage"))
if marks>90:
    print("Grade A")
elif  marks>80 and marks<= 90:
    print("Grade B")
elif marks>=60 and marks<=80:
    print("Grade c")
else:
    print("Grade D")

Q2.Wrtie a program to accept a cost price of a bike  and display road tax to be paid according to the following criteria?
Tax       cost price(in Rs)
15%           >100000
10%           >50000 and <=100000
5%            <=50000

In [4]:
Roadtax=int(input("enter the bike price"))
if Roadtax>100000:
    print("tax is 15%")
elif  Roadtax>50000 and Roadtax<=100000:
    print("tax is 10%")
else: 
    print("Tax is 5%")

enter the bike price 4000

Tax is 5%

Q3.Accept any city from the user and display monument of that city?
City           MONUMENT
Delhi          Redfort
Agra           Taj Mahal
jaipur         JalMahal

In [13]:
Monument=str(input("enter the city"))
if  Monument  =="Delhi":
    print("Monument : Redfort")
elif  Monument=="Agra":
    print("Monument : Taj Mahal")
elif   Monument=="jaipur":
    print("Monument:Jal Mahal")
else:
    print("invalid city name")

enter the city goa

invalid city name

Q4.Check how many times a given number can be divided by 3 before it is less than or equal to 10?

In [13]:
num = int(input("Enter a number: "))
count = 0
while num > 10:
    num = num / 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10")

Enter a number:  12

The number can be divided by 3 1 times before it is less than or equal to 10

Q5.Why and when to use while loop in pythan give a detailed description with exxample?

Python while loop is used to run a block code until a certain condition is met.
The syntax of while loop is:

while condition:
    # body of while loop
Here,

A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops.

example:# program to display numbers from 1 to 5

In [14]:
i = 1
n = 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

Q6.Use nested while loop to print three different pattern?

In [15]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [16]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 1- 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
Q7.Reverse a while loop to display number from 10 to 1?

In [19]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
Q8.Reverse a while loop to display number from 10 to 1?

In [20]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1